/** ADMIN **/

*{font-family: Arial, Helvetica, sans-serif;}
body{background-color: #ededed;}
.mini-title{font-size: 14px;letter-spacing: 1px;font-weight: bold;}
.marcador{outline: 1px solid red;outline-offset: -1px;}
.upper{text-transform: uppercase;}
.click{cursor: pointer;}
.clear{clear: both;}
.suave, .suave:hover{transition-duration: .3s;}
.playfair{font-family: 'Playfair Display', serif;font-weight: bold;}
.barlow{font-family: 'Barlow', sans-serif;font-weight: bold;}
.box{background-color: white;box-shadow: 0 5px 10px rgba(0, 0, 0, .10);border-radius: 5px;padding: 16px;box-sizing: border-box;overflow: hidden;}

.list-head{display: table;width: 100%;margin: 0;}
.list-head li{display: table-row;width: 100%;}
.list-head li div{display: table-cell;vertical-align: middle;}
.list-head li div:last-child{padding: 0 10px;box-sizing: border-box;}
.list-head li div h6{line-height: 50px;margin: 0;}

.list-body{display: table;width: 100%;margin: 0;border-collapse:separate; border-spacing:0 5px;}
.list-body li{height:40px;display: table-row;width: 100%;border-radius: 5px;box-shadow: 0 2px 8px rgba(0, 0, 0, .10);}
.list-body li div{display: table-cell;vertical-align: middle;overflow: hidden;}
.list-body li div:last-child{padding: 0 10px;box-sizing: border-box;}
.list-body li div h6{line-height: 40px;margin: 0;}
.list-body li div button{border: 0;background-color: white;padding: 0;margin:0;float:left;}
.list-body li div i{float: left;line-height: 40px;width: 40px;text-align: center;}
.list-body li div i:hover{color: #7dc242;}

.list-foot{display: table;width: 100%;margin: 0;}
.list-foot li{display: table-row;width: 100%;}
.list-foot li div{display: table-cell;vertical-align: middle;text-align: center;}
.list-foot li div h6{line-height: 60px;margin: 0;display: inline-block;}
.list-foot li div i{display: inline-block;line-height: 40px;width: 40px;text-align: center;border-radius: 25px;margin:10px}
.list-foot li div i:hover{background-color: #dedede;}

.list-foot li div i:first-child{float: left;}
.list-foot li div i:last-child{float: right;}

.lista{width: 100%;margin: 0;margin-top: 16px;list-style: none;}
.lista li{width: 100%;overflow: hidden;}
.lista li div{overflow: hidden;}
.lista li div h6{float: left;text-transform: capitalize;margin: 0;}
.lista li div i{float: right;}
.lista li ul{margin: 0;display: none;}
.lista li ul.active{display: block;}
.lista li ul li{line-height: 40px;padding: 0 10px;box-sizing: border-box;border-radius: 5px;}
.lista li ul li:last-child{margin: 0;}
.lista li ul li:nth-child(even){background-color: rgba(0, 0, 0, .05);}
.lista li ul li:hover{background-color: rgba(0, 0, 0, .15);}


nav{width: 300px;height: 100vh;position: fixed;top: 0;left: 0;background-color: white;box-shadow: 5px 0 8px rgba(0, 0, 0, .10);}
nav .logo{width: 100%;border-bottom: 1px solid #ededed;}
nav .logo a{display: block;}
nav .logo figure{height: 70px;margin: 0;}
nav .logo figure img{height: 100%;display: block;margin: 0 auto;}
nav ul{list-style: none;margin: 0;padding: 16px;}
nav ul li{height: 40px;margin: 0;}
nav ul li.label{height: 0;border-bottom: 1px solid #ededed;margin: 16px 0;}
nav ul li a{display: block;line-height: 40px;text-decoration: none;color: #777;}
nav ul li a.active-item{position: relative;}
nav ul li a.active-item::before{content: "";width: 100%;height: 40px;background-color: rgba(125, 194, 66, .10);border-radius: 0 20px 20px 0;position: absolute;top: 0;right: 16px;}
nav ul li i{width: 40px;height: 40px;line-height: 40px !important;float: left;margin-right: 16px;transition: initial;}

header{width: calc(100% - 300px);height: 70px;position: fixed;top: 0;right: 0;z-index: 1;}
header .perfil{min-width: 250px;position: absolute;top: 0;right: 0;}
header .perfil .infos{height: 70px;padding: 15px 16px;overflow: hidden;box-sizing: border-box;}
header .perfil .infos h6{width: calc(100% - 40px);float: left;line-height: 40px;text-align: right;padding-right: 16px;font-size: 18px;box-sizing: border-box;margin: 0;}
header .perfil .infos figure{width: 40px;height: 40px;float: right;margin: 0;border-radius: 20px;overflow: hidden;box-shadow: 0 5px 10px rgba(0, 0, 0, .10);}
header .perfil .infos figure img{display: block;width: 100%;}
header .perfil ul{margin: 0 16px;list-style: none;visibility: hidden;opacity: 0;}
header .perfil ul li{margin: 0;text-align: right;}
header .perfil ul li a{color: #999;text-decoration: none;display: block;}
header .perfil ul li:hover a{color: #7dc242;}
header .perfil:hover ul{visibility: visible;opacity: 1;}

main{width: calc(100% - 300px);height: calc(100vh - 70px);position: fixed;bottom: 0;right: 0;overflow: auto;padding: 16px;box-sizing: border-box;}
main .dashboard{width: calc(100% - 416px);}
main .dashboard h3{margin-bottom: 10px;text-transform: capitalize;}

#estatisticas .resumos{margin: 0;margin-top: 16px;list-style: none;}
#estatisticas .resumos li{min-width: 100px;height: 130px;float: left;margin:0;margin-right: 16px;border-radius: 5px;padding: 10px;box-shadow: 0 5px 8px rgba(0, 0, 0, .10);position: relative;}
#estatisticas .resumos li h1,
#estatisticas .resumos li h6{margin: 0;}
#estatisticas .resumos li h1{text-align: right;position: absolute;bottom: 0;left: 0;width: 100%;padding: 0 10px;box-sizing: border-box;font-weight: lighter;color: #999;}

#categorias h3 button{display: inline-block;line-height: 38px;padding: 0 16px;padding-left: 32px;border-radius: 20px;border: 1px solid #7dc242;background-color: white;color: #7dc242;float: right;margin-top: 3px;outline: none;box-sizing: border-box;}
#categorias h3 button:hover{background-color: #7dc242;color: white;}
#categorias h3 button i{transition: initial;line-height: 40px;margin-left: 16px;width: 40px;float: right;} 

#categorias-list .list-head li div:first-child{width: 70px;text-align: center;}
#categorias-list .list-head li div:nth-child(3){width: 120px;text-align: center;}
#categorias-list .list-head li div:last-child{width: 100px;text-align: center;}
#categorias-list .list-body li div:first-child{width: 70px;text-align: center;}
#categorias-list .list-body li div:nth-child(3){width: 120px;text-align: center;}
#categorias-list .list-body li div:last-child{width: 100px;text-align: center;}

#topicos h3 button{display: inline-block;line-height: 38px;padding: 0 16px;padding-left: 32px;border-radius: 20px;border: 1px solid #7dc242;background-color: white;color: #7dc242;float: right;margin-top: 3px;outline: none;box-sizing: border-box;}
#topicos h3 button:hover{background-color: #7dc242;color: white;}
#topicos h3 button i{transition: initial;line-height: 40px;margin-left: 16px;width: 40px;float: right;} 

#topicos-list .list-head li div:first-child{width: 70px;text-align: center;}
#topicos-list .list-head li div:nth-child(3){width: 300px;text-align: center;}
#topicos-list .list-head li div:nth-child(4){width: 120px;text-align: center;}
#topicos-list .list-head li div:last-child{width: 100px;text-align: center;}
#topicos-list .list-body li div:first-child{width: 70px;text-align: center;}
#topicos-list .list-body li div:nth-child(3){width: 300px;text-align: center;}
#topicos-list .list-body li div:nth-child(4){width: 120px;text-align: center;}
#topicos-list .list-body li div:nth-child(3) h6{width: 300px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#topicos-list .list-body li div:last-child{width: 100px;text-align: center;}

#conteudos h3 button{display: inline-block;line-height: 38px;padding: 0 16px;padding-left: 32px;border-radius: 20px;border: 1px solid #7dc242;background-color: white;color: #7dc242;float: right;margin-top: 3px;outline: none;box-sizing: border-box;}
#conteudos h3 button:hover{background-color: #7dc242;color: white;}
#conteudos h3 button i{transition: initial;line-height: 40px;margin-left: 16px;width: 40px;float: right;} 

#conteudos-list .list-head li div:first-child{width: 70px;text-align: center;}
#conteudos-list .list-head li div:nth-child(3){width: 300px;text-align: center;}
#conteudos-list .list-head li div:nth-child(4){width: 120px;text-align: center;}
#conteudos-list .list-head li div:nth-child(5){width: 100px;text-align: center;}
#conteudos-list .list-head li div:nth-child(6){width: 100px;text-align: center;}
#conteudos-list .list-head li div:last-child{width: 150px;text-align: center;}
#conteudos-list .list-body li div:first-child{width: 70px;text-align: center;}
#conteudos-list .list-body li div:nth-child(3){width: 300px;text-align: center;}
#conteudos-list .list-body li div:nth-child(4){width: 120px;text-align: center;}
#conteudos-list .list-body li div:nth-child(5){width: 100px;text-align: center;}
#conteudos-list .list-body li div:nth-child(6){width: 100px;text-align: center;}
#conteudos-list .list-body li div:nth-child(3) h6{width: 300px;display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
#conteudos-list .list-body li div:last-child{width: 150px;text-align: center;}

#ultimasNoticias{width: 400px;height: calc(100vh - 102px);position: fixed;bottom: 16px;right: 16px;background-color: white;}
#ultimasNoticias h3{margin-bottom: 10px;}
#ultimasNoticias span{color: #777;font-size: 15px;}
#ultimasNoticias ul{margin: 0;margin-top: 16px;padding-left: 40px;padding-right: 16px;list-style: none;width: 100%;height: calc(100% - 120px);position: absolute;bottom: 16px;right:0;overflow: auto;box-sizing: border-box;}
#ultimasNoticias ul li{position: relative;width: 100%;}
#ultimasNoticias ul li::before{content: "";width: 1px;height: calc(100% - 20px);background-color: #7dc242;position: absolute;right: calc(100% + 19px);top: 20px;}
#ultimasNoticias ul li h6{position: relative;margin-bottom: 10px;line-height: 40px;}
#ultimasNoticias ul li h6::before{content: "";width: 21px;height: 21px;background-color: white;border: 2px solid #7dc242;border-radius: 15px;box-sizing: border-box;position: absolute;left: -30px;top: calc(50% - 10px);}
#ultimasNoticias ul li .noticia{border-radius: 5px;margin-bottom: 16px;overflow: hidden;box-shadow: 0 5px 8px rgba(0, 0, 0, .10);}
#ultimasNoticias ul li .noticia:hover{box-shadow: 0 5px 10px rgba(126, 194, 66, .50);}
#ultimasNoticias ul li .noticia figure{margin: 0;}
#ultimasNoticias ul li .noticia figure img{display: block;}
#ultimasNoticias ul li .noticia p{padding: 10px 16px;font-size: 12px;color: black;}
#ultimasNoticias ul li .noticia a{margin-left: 20px;margin-bottom: 10px;display: block;color: #777;}

#lateral{width: 100%;height: 100vh;position: absolute;top: 0;left: 0;z-index: 5000;opacity: 0;visibility: hidden;}
#lateral.active{opacity: 1;visibility: visible;}
#lateral .overlay{width: 100%;height: 100%;background-color: rgba(0, 0, 0, .7);position: absolute;top: 0;left: 0;z-index: 1;opacity: 0;visibility: hidden;transition-delay: .3s;}
#lateral.active .overlay{opacity: 1;visibility: visible;}
#lateral .content{min-width: 400px;height: 100%;padding: 16px;box-sizing: border-box;background-color: white;position: absolute;top: 0;right: -100%;z-index: 2;transition-delay: .5s;transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);opacity: 0;visibility: hidden;}
#lateral .content.active{right: 0%;opacity: 1;visibility: visible;}
#lateral .content h4{height: 40px;line-height: 40px;}
#lateral .content h4 i{float: right;line-height: 40px;width: 40px;border-radius: 20px;text-align: center;}
#lateral .content h4 i:hover{background-color: #dedede;}
#lateral .content form{width: 100%;overflow: hidden;}
#lateral .content form label{width: 100%;display: block;font-weight: bold;margin-bottom: 5px;}
#lateral .content form input,
#lateral .content form select{width: 100%;display: block;border-radius: 5px;border: 1px solid #ededed;margin-bottom: 16px;background-color: white;height: 45px;}
#lateral .content form input:focus,
#lateral .content form select:focus{outline: none;border: 1px solid #7dc242;}
#lateral .content form button[type="submit"]{line-height: 40px;padding: 0 30px;color: white;font-weight: bold;float: right;border-radius: 20px;background-color: #7dc242;border:0;}

#lateral #ver-conteudo{width: 100%;right: initial;}
#lateral #ver-conteudo .conteudo{width: 100%;padding: 0 20%;height: calc(100vh - 100px);overflow: auto;box-sizing: border-box;}
#lateral #ver-conteudo .conteudo_titulo{font-weight: bold;text-align: center;}
#lateral #ver-conteudo .conteudo_datas{text-align: center;}
#lateral #ver-conteudo .conteudo_topico{text-align: center;font-weight: bold;color: #777;}
#lateral #ver-conteudo .conteudo_descricao{margin-top: 16px;padding: 50px;}
#lateral #ver-conteudo .imprimir{width: 50px;height: 50px;border-radius: 25px;position: fixed;bottom: 70px;right: 70px;background-color: #7dc242;}
#lateral #ver-conteudo .imprimir i{width: 50px;line-height: 50px;text-align: center;font-size: 28px;color: white;}

@media only print{
    nav,main,header{display: none;}
    #lateral #ver-conteudo .conteudo{height: auto;overflow: initial;padding: 0;}
    #lateral #ver-conteudo .conteudo_descricao{padding: 0;box-shadow: none;}
}

#alerta{width: 100%;height: 100vh;position: absolute;top: 0;left: 0;z-index: 5000;opacity: 0;visibility: hidden;}
#alerta.active{opacity: 1;visibility: visible;}
#alerta .overlay{width: 100%;height: 100%;background-color: rgba(0, 0, 0, .7);position: absolute;top: 0;left: 0;z-index: 1;opacity: 0;visibility: hidden;transition-delay: .3s;}
#alerta.active .overlay{opacity: 1;visibility: visible;}
#alerta .alerta{width: 400px;position: absolute;top: 0;left: calc(50% - 200px);z-index: 2;text-align: right;opacity: 0;visibility: hidden;transition-delay: .3s;}
#alerta.active .alerta{opacity: 1;visibility: visible;top: 50px;}
#alerta .alerta p{text-align: left;}
#alerta .alerta .sim,
#alerta .alerta .nao{display: inline-block;padding: 0 16px;line-height: 40px;overflow: hidden;color: white;border-radius: 20px;margin: 16px 0 0 10px;float: right;}
#alerta .alerta .sim i,
#alerta .alerta .nao i{line-height: 40px;width: 40px;text-align: center;float: left;margin-right: 16px;}
#alerta .alerta .sim{background-color: #7dc242;}
#alerta .alerta .nao{background-color: #b60000;}



